@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

body {
    background: url(/image/image.png) fixed no-repeat;
    background-size: cover;
    overflow: hidden;
 
}

.navbar {
    position: fixed;
    top: 1rem;
    right: 0;
    width: 50%;
    padding: .8rem 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    background-color: transparent;
}


    .navbar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .navbar li {
        display: inline-block;
        margin-right: 1.5rem;
    }

    .navbar a {
        text-decoration: none;
        color: #333;
        transition: all 0.3s ease;
    }

    .navbar a:hover {
        color: #ff4081;
    }

    .logo {
        position: fixed;
        top: 1rem;
        left: 1.5rem;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-size: 1.5rem;
        z-index: 1;
    }


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin-top: 2.5rem;
}

.box {
    width: 30vw;
    background-color: whitesmoke;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.input-group {
    margin-bottom: 2rem;
    position: relative;
}

.input-group label {
    position: absolute;
    bottom: 2rem;
    left: 0;
    color: #333;
    transition: 0.3s;
    transform: translateY(-50%);
    pointer-events: none; 
}

.input-group input {
    width: 100%;
    padding: .6rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.input-group input:focus {
    border-color: #ff6600;
}

.input-group input:focus + label {
    top: -1rem;
    color: #ff6600;
    font-size: 0.8rem;
}

.buttons {
    text-align: center;
    
     
}
.buttons input[type="reset"]:hover,
.buttons input[type="submit"]:hover {
    cursor: pointer;
    background-color: #ff6600;
    font-size: 1rem;
    color: white;
}