@charset "ISO-8859-1";
   body{
        background-image: url(/image/image.jpg);
        background-position: center;
        background-size: cover;
       
    
    }
h1{
    color: rgb(210, 62, 215);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    color: rgb(10, 105, 145);
    text-decoration: none;
    margin-right: 20px;
    background-color: aqua;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    font-family:poppins,sans-serif;
}
.main{
    border-radius: 10px;
    margin-left:  100px;
    margin-top: 200px;
    padding: 30px;
    width: 450px;
    text-align: center;
    background: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
a:hover{
background-color: aliceblue;
transition-duration: 0.2;
}