<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TuneHub</title>
<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="register">Register</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </div>
    <a href="#" class="logo">TuneHub</a>


<div class="container">
    <h1>Welcome to TuneHub Admin Page</h1>
    <div class="admin-links">
        <a href="addsong">ADD SONG</a> 
        <a href="viewsong">VIEW SONG</a> 
        <a href="createplaylist">CREATE PLAYLIST</a> 
        <a href=viewPlayList>VIEW PLAYLIST</a>
    </div>
</div>

</body>
</html>
